@use '../../styles/variables' as v;
@use '../../styles/mixins' as m;


.about-values {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: 1022px;
  margin: 0 auto;

  @include m.mobile {
    gap: 20px;
  }
}
