@use 'variables' as v;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background-color: v.$color-white;
  color: v.$color-black;
  font-family: v.$font-family;
  font-weight: v.$font-weight-medium;
  line-height: v.$line-height;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
}

button {
  padding: 0;
  border: none;
  background: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
}
